In [1]:
import numpy as np
import pandas as pd
import sqlite3

In [2]:
# Read the TSV file into a DataFrame
df = pd.read_csv('correct_twitter_201904.tsv', delimiter='\t', low_memory=False)

# Clean the data if needed (e.g., handling NaN values)
df.fillna('', inplace=True)

# Convert to lowercase for uniformity
df['text'] = df['text'].str.lower()

# Create a SQLite database and store the DataFrame
conn = sqlite3.connect('twitter_data.db')
df.to_sql('tweets', conn, if_exists='replace', index=False)

88037

In [3]:
df.head()

,id,event,ts1,ts2,from_stream,directly_from_stream,from_search,directly_from_search,from_quote_search,directly_from_quote_search,...,retweeted,retweeted_author_id,retweeted_handle,retweeted_follower_count,mentioned_author_ids,mentioned_handles,hashtags,urls,media_keys,place_id
0,1131594960443199488,britney_201904,2022-02-28 09:34:44.627023-05:00,2022-02-28 09:34:44.627023-05:00,True,True,False,False,False,False,...,1130917791752757254,3042894016,Iesbwian,22760,None,None,None,None,None,None
1,1131594976750653440,britney_201904,2022-02-28 09:34:44.626921-05:00,2022-02-28 09:34:44.626921-05:00,True,True,False,False,False,False,...,None,None,None,None,None,None,None,None,None,None
2,1131589737955942405,britney_201904,2022-02-28 09:34:44.634058-05:00,2022-02-28 09:34:44.634058-05:00,True,True,False,False,False,False,...,None,None,None,None,None,None,None,None,None,None
3,1131594909469892610,britney_201904,2022-02-28 09:34:44.627125-05:00,2022-02-28 09:34:44.627125-05:00,True,True,False,False,False,False,...,1130917791752757254,3042894016,Iesbwian,22760,None,None,None,None,None,None
4,1131594812694511617,britney_201904,2022-02-28 09:34:44.627227-05:00,2022-02-28 09:34:44.627227-05:00,True,True,False,False,False,False,...,1130917791752757254,3042894016,Iesbwian,22760,None,None,None,None,None,None

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 88037 entries, 0 to 88036
Data columns (total 46 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   id                             88037 non-null  int64
 1   event                          88037 non-null  object
 2   ts1                            88037 non-null  object
 3    ts2                           88037 non-null  object
 4   from_stream                    88037 non-null  bool
 5   directly_from_stream           88037 non-null  bool
 6   from_search                    88037 non-null  bool
 7   directly_from_search           88037 non-null  bool
 8   from_quote_search              88037 non-null  bool
 9   directly_from_quote_search     88037 non-null  bool
 10  from_convo_search              88037 non-null  bool
 11  directly_from_convo_search     88037 non-null  bool
 12  from_timeline_search           88037 non-null  bool
 13  directly_from_timeline_search  88037 non-null  bool
 14  text                           88037 non-null  object
 15  lang                           88037 non-null  object
 16  author_id                      88037 non-null  int64
 17  author_handle                  88037 non-null  object
 18  created_at                     88037 non-null  object
 19  conversation_id                88037 non-null  int64
 20  possibly_sensitive             88037 non-null  bool
 21  reply_settings                 88037 non-null  object
 22  source                         88037 non-null  object
 23  author_follower_count          88037 non-null  int64
 24  retweet_count                  88037 non-null  int64
 25  reply_count                    88037 non-null  int64
 26  like_count                     88037 non-null  int64
 27  quote_count                    88037 non-null  int64
 28  replied_to                     88037 non-null  object
 29  replied_to_author_id           88037 non-null  object
 30  replied_to_handle              88037 non-null  object
 31  replied_to_follower_count      88037 non-null  object
 32  quoted                         88037 non-null  object
 33  quoted_author_id               88037 non-null  object
 34  quoted_handle                  88037 non-null  object
 35  quoted_follower_count          88037 non-null  object
 36  retweeted                      88037 non-null  object
 37  retweeted_author_id            88037 non-null  object
 38  retweeted_handle               88037 non-null  object
 39  retweeted_follower_count       88037 non-null  object
 40  mentioned_author_ids           88037 non-null  object
 41  mentioned_handles              88037 non-null  object
 42  hashtags                       88037 non-null  object
 43  urls                           88037 non-null  object
 44  media_keys                     88037 non-null  object
 45  place_id                       88037 non-null  object
dtypes: bool(11), int64(8), object(27)
memory usage: 24.4+ MB

In [5]:
df.describe()

,id,author_id,conversation_id,author_follower_count,retweet_count,reply_count,like_count,quote_count
count,8.803700e+04,8.803700e+04,8.803700e+04,8.803700e+04,88037.000000,88037.000000,8.803700e+04,88037.000000
mean,1.128375e+18,2.840685e+17,1.128223e+18,5.871965e+04,613.836353,8.710633,1.643042e+02,9.802674
std,3.001479e+15,4.376297e+17,7.439132e+15,1.200196e+06,4047.938227,382.716992,8.811544e+03,470.460294
min,1.101535e+18,1.357300e+04,1.597973e+17,0.000000e+00,0.000000,0.000000,0.000000e+00,0.000000
25%,1.126285e+18,2.148085e+08,1.126257e+18,2.140000e+02,0.000000,0.000000,0.000000e+00,0.000000
50%,1.128714e+18,1.635683e+09,1.128709e+18,5.950000e+02,20.000000,0.000000,0.000000e+00,0.000000
75%,1.130296e+18,7.860916e+17,1.130281e+18,1.761000e+03,286.000000,0.000000,0.000000e+00,0.000000
max,1.134308e+18,1.134151e+18,1.134308e+18,1.143075e+08,415500.000000,81701.000000,1.368193e+06,76727.000000

In [6]:
df.isna().sum()

id                               0
event                            0
ts1                              0
 ts2                             0
from_stream                      0
directly_from_stream             0
from_search                      0
directly_from_search             0
from_quote_search                0
directly_from_quote_search       0
from_convo_search                0
directly_from_convo_search       0
from_timeline_search             0
directly_from_timeline_search    0
text                             0
lang                             0
author_id                        0
author_handle                    0
created_at                       0
conversation_id                  0
possibly_sensitive               0
reply_settings                   0
source                           0
author_follower_count            0
retweet_count                    0
reply_count                      0
like_count                       0
quote_count                      0
replied_to                       0
replied_to_author_id             0
replied_to_handle                0
replied_to_follower_count        0
quoted                           0
quoted_author_id                 0
quoted_handle                    0
quoted_follower_count            0
retweeted                        0
retweeted_author_id              0
retweeted_handle                 0
retweeted_follower_count         0
mentioned_author_ids             0
mentioned_handles                0
hashtags                         0
urls                             0
media_keys                       0
place_id                         0
dtype: int64

In [8]:
#How many tweets were posted containing the term on each day?
def tweets_per_day(term):
    query = f"""
    SELECT date(created_at) as tweet_date, COUNT(*) as tweet_count
    FROM tweets
    WHERE text LIKE '%{term}%'
    GROUP BY tweet_date
    ORDER BY tweet_date;
    """
    result = pd.read_sql_query(query, conn)
    return result

#How many unique users posted a tweet containing the term?
def unique_users(term):
    query = f"""
    SELECT COUNT(DISTINCT id) as unique_user_count
    FROM tweets
    WHERE text LIKE '%{term}%';
    """
    result = pd.read_sql_query(query, conn)
    return result

#How many likes did tweets containing the term get on average?
def average_likes(term):
    query = f"""
    SELECT AVG(like_count) as avg_likes
    FROM tweets
    WHERE text LIKE '%{term}%';
    """
    result = pd.read_sql_query(query, conn)
    return result

#Where (in terms of place IDs) did the tweets come from?
def tweet_locations(term):
    query = f"""
    SELECT place_id, COUNT(*) as tweet_count
    FROM tweets
    WHERE text LIKE '%{term}%'
    GROUP BY place_id
    ORDER BY tweet_count DESC;
    """
    result = pd.read_sql_query(query, conn)
    return result

#What times of day were the tweets posted at?
def tweets_time_of_day(term):
    query = f"""
    SELECT strftime('%H', created_at) as hour_of_day, COUNT(*) as tweet_count
    FROM tweets
    WHERE text LIKE '%{term}%'
    GROUP BY hour_of_day
    ORDER BY hour_of_day;
    """
    result = pd.read_sql_query(query, conn)
    return result

#Which user posted the most tweets containing the term?
def top_user(term):
    query = f"""
    SELECT id, COUNT(*) as tweet_count
    FROM tweets
    WHERE text LIKE '%{term}%'
    GROUP BY id
    ORDER BY tweet_count DESC
    LIMIT 1;
    """
    result = pd.read_sql_query(query, conn)
    return result


def main():
    # Ask the user for the term
    term = input("Enter the term you want to search for: ")

    print(f"\nSearching for tweets containing the term '{term}'...\n")
    
    print("Here are the results as per your search...")

    # Call each function and store the result
    tweets_day = tweets_per_day(term)
    unique_user_count = unique_users(term)
    avg_likes = average_likes(term)
    locations = tweet_locations(term)
    times_of_day = tweets_time_of_day(term)
    top_user_info = top_user(term)

    # Display results
    print("Number of tweets per day containing the term:\n", tweets_day)
    print("\nNumber of unique users posting tweets containing the term:\n", unique_user_count)
    print("\nAverage number of likes for tweets containing the term:\n", avg_likes)
    print("\nTop tweet locations (by place ID) for tweets containing the term:\n", locations)
    print("\nTweet counts per hour of the day for tweets containing the term:\n", times_of_day)
    print("\nUser who posted the most tweets containing the term:\n", top_user_info)


# Run the main function if the script is executed directly
if __name__ == "__main__":
    main()

Enter the term you want to search for: music

Searching for tweets containing the term 'music'...

Here are the results as per your search...
Number of tweets per day containing the term:
     tweet_date  tweet_count
0   2019-03-12            3
1   2019-04-06            1
2   2019-04-14            1
3   2019-04-16            1
4   2019-04-21            1
5   2019-04-24            1
6   2019-04-26            1
7   2019-04-27            3
8   2019-04-28           22
9   2019-04-29          118
10  2019-04-30          135
11  2019-05-01           71
12  2019-05-02           72
13  2019-05-03          103
14  2019-05-04           75
15  2019-05-05           65
16  2019-05-06           71
17  2019-05-07           64
18  2019-05-08           60
19  2019-05-09           70
20  2019-05-10          307
21  2019-05-11           78
22  2019-05-12           69
23  2019-05-13           50
24  2019-05-14           67
25  2019-05-15           99
26  2019-05-16           91
27  2019-05-17          162
28  2019-05-18           61
29  2019-05-19           46
30  2019-05-20           64
31  2019-05-21          119
32  2019-05-22           80
33  2019-05-23           73
34  2019-05-24           49
35  2019-05-25           92
36  2019-05-26          112
37  2019-05-27           76
38  2019-05-28           96
39  2019-05-29          187
40  2019-05-30           71
41  2019-05-31           14

Number of unique users posting tweets containing the term:
    unique_user_count
0               3001

Average number of likes for tweets containing the term:
    avg_likes
0  161.40853

Top tweet locations (by place ID) for tweets containing the term:
             place_id  tweet_count
0               None         2957
1   ac88a4f17a51c7fc            3
2   de599025180e2ee7            2
3   4c8e28554110ebcf            2
4   f97108ab3c4a42ed            1
5   ecbe2aea853af44e            1
6   d56c5babcffde8ef            1
7   b49b3053b5c25bf5            1
8   ab2f2fac83aa388d            1
9   9d63050d3d33d32f            1
10  91890dbb74364d63            1
11  8e9665cec9370f0f            1
12  8bc4eeacf63235f9            1
13  8943f93b51e3f357            1
14  814cfc71b843ff40            1
15  7de31e05e99a00f8            1
16  7cb7440bcf83d464            1
17  743df94d8dcb69a6            1
18  714789cf3b7a50d0            1
19  5de8cffc145c486b            1
20  5c62ffb0f0f3479d            1
21  53504716d445dcad            1
22  43d2418301bf1a49            1
23  3f7a925ec706ea48            1
24  3b77caf94bfc81fe            1
25  300bcc6e23a88361            1
26  2bc7c264a080898b            1
27  2b8922cbe7f16337            1
28  1a7a70d4a28e96a1            1
29  151b9e91272233d1            1
30  140800566259f12f            1
31  09f6a7707f18e0b1            1
32  07e9c7d1954fff64            1
33  0570f015c264cbd9            1
34  01fbe706f872cb32            1
35  01ddb0100b1efd97            1
36  0149775319466b18            1
37  01153d1b33e1641b            1
38  0113afc024d5e0bc            1
39  00b673715a35dfa7            1
40  001aff55522d96c9            1

Tweet counts per hour of the day for tweets containing the term:
    hour_of_day  tweet_count
0           00          159
1           01          154
2           02          166
3           03          155
4           04          135
5           05          119
6           06           89
7           07           85
8           08           99
9           09           94
10          10           70
11          11           55
12          12          107
13          13          130
14          14          151
15          15          147
16          16          122
17          17          137
18          18          152
19          19          163
20          20          120
21          21          110
22          22          146
23          23          136

User who posted the most tweets containing the term:
                     id  tweet_count
0  1134307684545511424            1